{% extends 'Admin/content.html.twig' %}

{% block title %}Edit Account{% endblock %}

{% block content %}

{% if account.isDeleted == 1 %}{% set disabled = 'disabled' %}{% else %}{% set disabled = '' %}{% endif %}

<div class="col-md-2"></div>
<div class="col-md-2 mt-5 border">
    <h5>Toggle Features</h5>
    {% if features | length > 0 %}
        {% for f in features %}
            <a href="{{ path('admin_feature_toggle', {'account':f.account.id, 'feature':f.id}) }}" class="btn {% if f.value == 1 %}btn-success{% else %}btn-secondary{% endif %}">
            <i class="fa fa-toggle-{% if f.value ==1 %}on{% else %}off{% endif %}"></i> {{ f.name }}</a>
        {% endfor %}
    {% endif %}
</div>
<div class="col-md-6 mt-5">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    

    <form method="POST">
    <div class="form-row">
        <div class="form-group col-md-12">Account ID: <b>{{ account.id }}</b></div>
        <div class="form-group col-md-6">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" value="{{ account.name }}" placeholder="Company/Business Name" {{ disabled }} >
        </div>
         <div class="form-group col-md-6">
            <label for="status">Status</label>
            <select id="status" name="isActive" class="form-control"  {{ disabled }} >
                {% for i in 0..1 %}
                    <option value="{{ i }}" {% if account.isActive == i %}selected{% endif %}>{% if i == 0 %}InActive{% else %}Active{% endif %}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="website">Website</label>
            <input type="text" class="form-control" id="website" name="website" value="{{ account.website }}" placeholder="https://example.com" {{ disabled }} />
        </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="allowedDomains">Allowed Domains</label>
            <input type="text" class="form-control" id="allowedDomains" name="allowedDomains" value="{{ account.allowedDomains }}" placeholder="exmaple.com, example.net" {{ disabled }} />
            <small class="text-muted"> Only emails with the domains listed will be allowed to have accounts. <br>Leave blank to allow all domains.</small>
        </div>
    </div>

    <button type="submit" class="btn btn-primary" {{ disabled }}>{% if disabled == 'disabled' %}Account Deleted{% else %}Update Account{% endif %}</button>
    {#
    {% if account.isDeleted %}
        <a href="{{ path('admin_account_user_undel', {'account':u.account.id,'user':u.id}) }}" class="btn btn-success">Un-Delete "<i>{{ u.username }}</i>"?</a>
    {% else %}
        <a href="{{ path('admin_account_user_del', {'account':u.account.id,'user':u.id}) }}" class="btn btn-danger">Delete "<i>{{ u.username }}</i>"?</a>
    {% endif %}
    #}
    </form>
   
</div>
<div class="col-md-2"></div>

<div class="col-md-12 mt-5"></div>

<div class="col-md-2"></div>
<div class="col-md-8 mb-5">
    <form method="POST" action="{{ path('admin_account_note_add', {'account':account.id}) }}">
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="note">Note/Comment:</label>
            <textarea class="form-control" rows="3" id="note" name="note" required></textarea>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Note</button>
    </form>
</div>
<div class="col-md-2"></div>

<hr/>

<div class="col-md-2"></div>
<div class="col-md-8">
{% if account.accountNotes|default()|length > 0 %}
    <table class="table table-responsive-md table-sm table-striped table-bordered">
        <thead class="small text-center thead-dark">
            <th>Note</th>
        </thead>
        <tbody>
    {% for note in account.accountNotes %}

            <tr class="text-left">
                <td class="alert alert-dark" colspan="2">{{ note.note }}</td>
            </tr>
            <tr class="small text-right">
                <td colspan="2">
                 <i>{{ note.createdAt|date('D F jS \\a\\t g:ia') }}</i>
                by  <a href="">{{ note.createdBy.username }}</a>
                </td>
            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endif %}
</div>
</div class="col-md-2"></div>
{% endblock %}