{% extends 'Admin/content.html.twig' %}

{% block content %}

<div class="container">
    <h3>Search Results</h3>

    {% if results | length > 0 %}

        Found <b>{{ results|default()|length }}</b> results for <i>"{{ q }}"</i> <hr>
     
        {% for u in results %}
            {% if u.firstName != '' and u.lastName != '' %}
                {% set name = u.firstName ~ ' ' ~ u.lastName %}
            {% else %}
                {% set name = u.email %}
            {% endif %}
            {% set replacement = '<span style="color:red">' ~ q ~ '</span>' %}

        
        <div class="card m-2" style="width: 100%;">
            <div class="card-body">
                <h5 class="card-title">{{ name|preg_replace('/'~ q ~'/i', replacement)|raw }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ u.email|preg_replace('/'~ q ~'/i', replacement)|raw }}</h6>
                <p class="card-text">
                {% if u.account.name|preg_match('/' ~ q ~ '/i') %} 
                    Account: {{ u.account.name|preg_replace('/'~ q ~'/i', replacement)|raw }} <br/>
                {% endif %}

                {% if u.account.website|preg_match('/' ~ q ~ '/i') %} 
                    Website: {{ u.account.website|preg_replace('/'~ q ~'/i', replacement)|raw }} <br/>
                {% endif %}

                {% if u.account.allowedDomains|preg_match('/' ~ q ~ '/i') %} 
                    Allowed Domains: {{ u.account.allowedDomains|preg_replace('/'~ q ~'/i', replacement)|raw }} <br/>
                {% endif %}


                {% for n in u.userNotes %}
                    {% if n.note |preg_match('/' ~ q ~ '/i') %} 
                        User Note: {{ n.note|preg_replace('/'~ q ~'/i', replacement)|raw }} <br/>
                    {% endif %}
                {% endfor %}

                {% for n in u.account.accountNotes %}
                    {% if n.note |preg_match('/' ~ q ~ '/i') %} 
                        Account Note: {{ n.note|preg_replace('/'~ q ~'/i', replacement)|raw }} <br/>
                    {% endif %}
                {% endfor %}
                </p>
                <a href="{{ path('admin_account_user_edit', {'account':u.account.id, 'user':u.id}) }}" class="card-link">View User</a>
                <a href="{{ path('admin_account_edit', {'account':u.account.id} )}}" class="card-link">View Account</a>
                
            </div>
        </div>
           
        <hr>
        {% endfor %}
    {% else %}
        Nothing found.
    {% endif %}
</div>
{% endblock %}
