{% extends 'Web/content.html.twig' %}


{% block content %}

<div class="col-md-2"></div>
<div class="col-md-8">
    <h1>Your token has expired or is invalid</h1>
</div>
<div class="col-md-2"></div>

{% endblock %}
