<!-- Edit API Key Modal -->
<form method="POST" action="{{ path('account_api_edit', {'apiKey':k.id}) }}">
<div class="modal fade" id="editKey-{{ k.id }}" tabindex="-1" role="dialog" aria-labelledby="editKeyLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editKeyLabel">
                    Edit API Key
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="name">Key Name <b style="color:red;">*</b></label>
                            <input type="text" class="form-control" name="name" id="name" value="{{ k.name }}" placeholder="Descriptive name for your use" required />
                        </div>
                    </div>
                    
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="active">Status <b style="color:red;">*</b></label>
                            <select name="active" class="form-control">
                                <option value="1" {% if k.isActive == 1 %}selected{% endif %}>Active</option>
                                <option value="0" {% if k.isActive == 0 %}selected{% endif %}>InActive</option>
                            </select>
                        </div>
                        <div class="small text-muted">Disable a key without deleting it by marking it inactive</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Update Key</button>
                    </div>
                </form>   
            </div>
        </div>
    </div>
</div>
</form>