{% extends 'Account/content.html.twig' %}

{% block title %}API List{% endblock %}

{% block content %}


<div class="col-md-2"></div>
<div class="col-md-8 mt-5">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="row">
        <div class="col-md-8"></div>
        <div class="col-md-4">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary pull-right m-2" data-toggle="modal" data-target="#createKey">
            Create API Key 
            </button>

            <!-- Modal -->
            <div class="modal fade" id="createKey" tabindex="-1" role="dialog" aria-labelledby="createKeyLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="createKeyLabel">
                                Create New API Key
                            </h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST" action="{{ path('account_api_create') }}">
                                <div class="form-row">
                                    <div class="form-group col-md-12">
                                        <label for="name">Key Name <b style="color:red;">*</b></label>
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Descriptive name for your use" required />
                                    </div>
                                    <div class="form-group col-md-12">
                                        <span class="text-muted small">
                                            This is a descriptive name for your API key. In the next step, you will receive the actual key to use in your code.
                                        </span>
                                    </div>
                                </div>
                               
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Create Key</button>
                                </div>
                            </form>   
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <table class="table table-bordered table-sm table-responsive-md-12 table-stripped">
        <thead class="thead-dark small text-center">
            <th>Name</th>
            <th>API Key</th>
            <th>Status</th>
            <th>Created</th>
            <th>Action</th>
        </thead>
        <tbody>
        {% for k in keys %}
            <tr>
                <td>{{ k.name }}</td>
                <td>{{ k.token|truncate(20) }} <span class="text-muted">****************************</span></td>
                <td>{% if k.isActive %}Enabled{% else %}Disabled{% endif %}</td>
                <td>{{ k.createdAt|date('F jS \\a\\t g:ia') }}</td>
                <td>
                    <a href="#" title="Edit Key" alt="Edit Key" data-toggle="modal" data-target="#editKey-{{ k.id }}">
                        <i class="fa fa-pencil"></i>
                    </a> 
                    &nbsp;
                    <a href="#" title="Delete Key" alt="Delete Key" data-toggle="modal" data-target="#deleteKey-{{ k.id }}">
                        <i class="fa fa-trash"></i>
                    </a>
                    {% include 'Account/api/edit.html.twig' with {'k':k} %}
                    {% include 'Account/api/delete.html.twig' with {'k':k} %}

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class="col-md-2"></div>
{% endblock %}