{% extends 'Web/base.html.twig' %}

{% block body %}
   
<style type="text/css">
@import url(https://fonts.googleapis.com/css?family=Roboto);
html { 
  background:  url(/img/errors/delete.gif) no-repeat center center fixed; 
  background-size: cover;
	font-family: 'Roboto', sans-serif;

}
h1{
  font-size: 16em;
  margin: .2em .5em;
  color: rgba(255,255,255, 0.7);
  margin-bottom:0px;
}
h2{
  font-size: 1.7em;
  margin: .2em .5em;
  color: rgba(255,255,255, 0.6);
	.material-icons {
		font-size: 1.5em;
		position: relative;
		top: 10px;
	}
}
div.error{
  position:absolute;
  top:30%;
  margin-top:-8em;
  width:100%;
  text-align:center;
}
</style>

<div class="error">
  <h1>Uh Oh </h1>
  <h2> 
  {{ status_code }} / {{ status_text }} <br/>
    Seems you might be having an issue, double check on your end. <br/>
    Could also be that you do not have this feature enabled. <br/>
    Contact your admin. <br/>
  </h2>

</div>


{% endblock %}
